@keyframes spin-slow {
      from {
            transform: rotate(0deg);
      }

      to {
            transform: rotate(360deg);
      }
}

.animate-spin-slow {
      animation: spin-slow 2s linear infinite;
}

/* You can include this in a global CSS or your Tailwind config */
.hide-scrollbar::-webkit-scrollbar {
      display: none;
}

.hide-scrollbar {
      -ms-overflow-style: none;
      /* IE and Edge */
      scrollbar-width: none;
      /* Firefox */
}