.main{
    height:auto;
}


.sec{
    position: relative;
    height:530px;
    padding-top: 3px;
}

.sec2{
    position: absolute;
    top: 75%;
    left:5%;
}

.sec3{
    margin-top: 10%;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 5%;
}

.sec3l{
    color: orangered;
}

.bsec button{
    transition: transform 0.2s ease-in-out;
  }
  
.b button:hover {
    transform: scale(1.05);
  }